
<div class="jumbotron center">
  
<h1>Home#index</h1>
<h1>Changed route ROOT</h1>
<p>Find me in app/views/home/index.html.erb</p>
  <%= link_to "login", root_path, class: 'btn btn-default' %>
  <%= link_to "join", root_path, class: 'btn btn-primary' %>
  
<!--   
  <button class="btn btn-default" type="submit">Login</button>
  <button class="btn btn-primary" type="submit">Join</button> -->
  
</div>